

body {
    background-color: aqua;
}

#conteiner {
    background-color: rgb(63, 127, 184);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 600px;
    margin: auto;
}
#nome , #altura , #peso{
    margin: 12px 12px;
    width: 200px;
    height: 25px;
    display: table;
}

#title{
    font: normal bolder 2em 'work sans';
    color: aliceblue;
    padding-top: 20px;
    
    text-align: center;
    background-color: rgba(54, 52, 187, 0.746);
    width: 100%;
    height: 50px;
    
}
#button{
    width: 100px;
    height: 40px;
    font: normal bolder 20px 'work Sans';
    border-radius: 8%;
}
.result {
    width: 250px;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 2px 2px 1px black;
}